.footer {
  padding: 1rem 1rem;
  text-align: center;

  background-color: aqua;

  color: #7e8287;

  font-size: 0.75rem;

  font-family: "JetBrains Mono", monospace;

  letter-spacing: 0.08em;

  backdrop-filter: blur(8px);
}

.footer p {
  margin: 0;
}
