* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #090909;
  color: white;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}